<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Sovnat GBI</title>
  </head>
  <link rel = "icon" href = "/static/logo.png" type = "image/x-icon">
  <body style="	background-image: url('/static/bg.jpg');
	background-position: center;
	background-size: cover;">
  <LINK REL = "STYLESHEET" HREF = "/static/main.css">
    <p align="center"> <img src = "/static/logo.png"> </img>  </p>
		<div style="padding: 0.5cm; background-color: rgba(189, 172, 172, 0.8)">
      SovNat GBI - HOME PAGE |
      <a href="/map">Map</a> | <a href="/post"> Post</a> | <a href="/about"> About</a> |
      
      <h2>Fresh objects:</h2>
      <div class="articlebutton"><li><a>{{name1}}</a> || <a href="{{location1}}">Location</a> | CCTV: {{cctv1}} | Elevator : {{e1}} | Abandoned : {{a1}} | YearBuilt : {{year1}}</li></div>
      <div class="articlebutton"><li><a>{{name2}}</a> || <a href="{{location2}}">Location</a> | CCTV: {{cctv2}} | Elevator : {{e2}} | Abandoned : {{a2}} | YearBuilt : {{year2}}</li></div>
      <div class="articlebutton"><li><a>{{name3}}</a> || <a href="{{location3}}">Location</a> | CCTV: {{cctv3}} | Elevator : {{e3}} | Abandoned : {{a3}} | YearBuilt : {{year3}}</li></div>
      <div class="articlebutton"><li><a>{{name4}}</a> || <a href="{{location4}}">Location</a> | CCTV: {{cctv4}} | Elevator : {{e4}} | Abandoned : {{a4}} | YearBuilt : {{year4}}</li></div>
      <div class="articlebutton"><li><a>{{name5}}</a> || <a href="{{location5}}">Location</a> | CCTV: {{cctv5}} | Elevator : {{e5}} | Abandoned : {{a5}} | YearBuilt : {{year5}}</li></div>
      <div class="articlebutton"><li><a>{{name6}}</a> || <a href="{{location6}}">Location</a> | CCTV: {{cctv6}} | Elevator : {{e6}} | Abandoned : {{a6}} | YearBuilt : {{year6}}</li></div>
      
      <a href=""> more... </a>
      <br></br>
      Copyright (c) 2022 <a href="https://cubesoftware.xyz">Cube Software</a>
		</div>
  </body>
</html>
