
<LINK REL = "STYLESHEET" HREF = "https://cdn.osmbuildings.org/4.1.1/OSMBuildings.css">

<SCRIPT SRC = "https://cdn.osmbuildings.org/4.1.1/OSMBuildings.js"></SCRIPT>



<DIV ID = "map"></div>



<SCRIPT>
	var lon = parseFloat(getLatLongFromAddress()[0].lon);
	var lat = parseFloat(getLatLongFromAddress()[0].lat);

	function httpGet(url)
	{
		var request = new XMLHttpRequest();
		request.open("GET", url, false);
		request.send(null);
		return JSON.parse(request.responseText);
	}

	function getLatLongFromAddress()
	{
		var response = httpGet("https://nominatim.openstreetmap.org/search?q=pomorska+22,+gdansk&format=json&polygon=1&addressdetails=1");
		return response;
	}

	function addMarkerAtLatLong(latitude, longitude)
	{
		osmb.addMarker({latitude: latitude, longitude: longitude, altitude: 50},
		{ id: 1 },
		{
			
			color: 'rgb(255, 0, 0)'
		});
	}

	var osmb = new OSMBuildings
	({
		container: 'map',
	
		position: { latitude: lat, longitude: lon },

		zoom: 20,

		minZoom: 10,

		maxZoom: 20,
	
		attribution: 'Data (c) <a href="https://openstreetmap.org/copyright/">OpenStreetMap</a> | Background (c) SovNat Project | 3D Data (c) <a href="https://osmbuildings.org/copyright/">OSM Buildings</a>'
	})



	osmb.addMapTiles('/sovnatbg.png');

	addMarkerAtLatLong(lat, lon);


	osmb.addGeoJSONTiles('https://{s}.data.osmbuildings.org/0.2/anonymous/tile/{z}/{x}/{y}.json');

</script>


