.articlebutton {
    margin: 0 auto;
    display:inline-block;
    padding-left:0.5cm;
    padding-right:0.5cm;
    transition: transform 0.1s;
    align: center;
    background-color: rgba(255, 255, 255, 0.2);
    	padding: 1rem 6rem;
	display: block;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
	margin: 1rem;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}
.articlebutton:hover {
    transform:scale(1.04);
}


BODY
{
	font-family: 'Gill Sans', monospace;
    color: white;
}

P
{
	text-shadow: 4px 4px #a5a5a5;
	line-height: 180%;
	width: 70%;
	margin-top: 2em;
	margin-bottom: 3em;
	font-size: 1.3em;
}

HR
{
	height: 1px;
	border: none;
	background-color: #92dbe0;
}

TABLE
{
	/*background-image: linear-gradient(rgba(28, 28, 89, 1) 0%, rgba(28, 29, 120, 1) 50%, rgba(5, 28, 105, 1) 100%);*/
	border: 2px solid #92dbe0;
	width: 80%;
	padding: 2px;
}

B
{
	font-size: 1.2em;
	border: 2px solid #92dbe0;
}

I
{
	text-shadow: 8px 8px #111111;
	font-size: 1.6em;
}

A
{
    text-shadow: 4px 4px #928e8e;
	color: #180736;
}

CENTER
{
	margin-top: 24em;
}

UL
{
	float: left;
	align-content: right;
	display: table;
}

LI
{
	list-style: none;
}

A:HOVER
{
	color: #180736;
}


.form__input {
    font-family: 'serious1', sans-serif;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}
